.produto{
    border-radius: 8px;
    border: 1px solid cyan;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 10px;
    max-Width: 600px;
    margin: 30px auto;
    text-align: center;
    width: 300px;
    height: auto;
    
}
.produto_img{
    max-width: 100px;
    margin-right: 20px;
}
.produto_titulo{
    font-size: 16px;
    color: #2c3e50
}
.produto_preço{
    font-size: 26px;
    font-weight: 700;
    color: #3498db;
}
.produto_link{
    background-color: rgb(212, 249, 255);
    font-weight: bold;
    border: 1px solid #3498db;
    border-radius: 4px;
    color:#3498db;
    text-decoration: none;
    padding: 8px 10px;
    
}
.grade{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.pesquisa_produto{
    margin: 30px auto auto auto;
    text-align: center;
    max-Width: 600px;
    display: flex;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 200px;
    font-size: 16px;
}
