
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.header{
    background:whitesmoke;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px rgb(95, 98, 99);
    overflow:hidden;
}
.container {
    width: 100%;
    min-width:12em;
    padding: 0 1.25em;
    margin: 0 auto;
  }

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }
  li {
    font-size: 20px;
    display: inline-block;
    overflow:hidden;
    position:relative;
    
    
}
a:link { text-decoration: none; color: #353737;}


a:visited { text-decoration: none; color: #353737;}


a:hover { text-decoration: none; color: #25a1a1;}


a:active { text-decoration: none; color: #353737;}

.logo{
    max-width: 120px;
}
